<div class="about" id="about">
  <div class="heading">
    <h2 class="rune">ᚨᛒᚲᛞᛖᚠᚷᚺᛁᛃᚲᛚᛗᚾᛟᛈᚲᚱᛊᛏᚢᚹᚲᛊᛁᛉᛖᚨᛁᛟᚨᛒᚲᛞᛖᚠᚷᚺᛁᛃᚲᛚᛗᚾᛟᛈᚲᚱᛊᛏᚢᚹᚲᛊᛁᛉᛖᚨᛁᛟᚨᛒᚲᛞᛖᚠᚷᚺᛁᛃᚲᛚᛗᚾᛟᛈᚲᚱᛊᛏᚢᚹᚲᛊᛁᛉᛖᚨᛁᛟ</h2>
    <h2>Om</h2>
    <h2 class="rune">ᚨᛒᚲᛞᛖᚠᚷᚺᛁᛃᚲᛚᛗᚾᛟᛈᚲᚱᛊᛏᚢᚹᚲᛊᛁᛉᛖᚨᛁᛟᚨᛒᚲᛞᛖᚠᚷᚺᛁᛃᚲᛚᛗᚾᛟᛈᚲᚱᛊᛏᚢᚹᚲᛊᛁᛉᛖᚨᛁᛟᚨᛒᚲᛞᛖᚠᚷᚺᛁᛃᚲᛚᛗᚾᛟᛈᚲᚱᛊᛏᚢᚹᚲᛊᛁᛉᛖᚨᛁᛟ</h2>
  </div>
    <div>
      <p>
        Inspirationen till Yggdrasil kom till oss under en extra kylig vinterkväll.
        under dagen hade vi haft vänner på besök och delat på ett flertal pizzor. På kvällen när våra gäster farit hem skulle vi värma på resterna från dagen.
        Ett oplanerat strömavbrott hindrade oss från att värma pizzorna i ugnen. Döljda av vinterns dunkel satt vi där; Vår enda ljuskälla den lilla veddrivna kaminen i vardagsrummet.
        Den kyliga pizzan blandat med värmen från elden var någonting helt annat.
        Därför bestämde vi oss för att skapa en pizzeria, helt unik från alla andra; Inspirirerad av den kalla pizzan framför den den varma kaminen.
      </p>
    </div>
</div>
 <h2>{{ meta.slogan }}</h2>