{% if pizza.items %}
<div class="meny" id="meny">
  
  {% for category in pizza.category %}
    <div class="heading">
      <h2 class="rune">ᛒᛁᛋᛋᛅ</h2>
      <h2> {{ category }} </h2>
      <h2 class="rune">ᛒᛁᛋᛋᛅ</h2>
    </div>

    {% for item in pizza.items %}
      {% if (item.category == category) %}
        <h4>
          <div>{{ item.id }} {{item.name}}</div>
          <div>{{item.price}}kr</div>
        </h4>
        <p>{{item.toppings}}</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
  
</div>
{% endif %}
