@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
//css: font-family: 'Noto Sans', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Runic&display=swap");
//css: font-family: 'Noto Sans Runic', sans-serif;

@font-face {
  font-family: 'norse';
  src: url('../fonts/norse/norse-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/norse/norse-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/norse/norse-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Norse.otf') format('opentype');
}

@font-face {
  font-family: 'norse';
  src: url('../fonts/norse/norsebold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/norse/norsebold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/norse/norsebold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Norsebold.otf') format('opentype');
}

html {
  font-family: "Noto Sans", sans-serif;
  background-color: #1e1e24;
  color: white;
  font-size: 16px;
}

h1 {
  color: #7c90db;
  font-size: 6rem;
  font-family: norse;
  font-weight: bold;
}

h2 {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: norse; 
  font-size: 2rem; 
  font-weight: bold;
  text-align: center;
}

h3 {  
  font-family: norse;
  font-size: 1.5rem;
  font-weight: normal; 
}
 
h4{
  font-size: 1.2rem;
  font-weight: normal;
}

a{
  font-family: norse;
  font-size: 1.4rem;
}
 
.rune{
  font-family: 'Noto Sans Runic', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}